body {
  padding: 0;
  margin: 0;
}
.button-place {
  display: inline-block;
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 7px;
}
