/* Cuprum */
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum/Cuprum-Regular.ttf") format("ttf"),
    url("../fonts/web/cuprum.woff") format("woff"),
    url("../fonts/web/cuprum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum/Cuprum-Bold.ttf") format("ttf"),
    url("../fonts/web/cuprumbold.woff") format("woff"),
    url("../fonts/web/cuprumbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum/Cuprum-BoldItalic.ttf"),
    url("../fonts/web/cuprumbolditalic.woff") format("woff"),
    url("../fonts/web/cuprumbolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum/Cuprum-Italic.ttf"),
    url("../fonts/web/cuprumitalic.woff") format("woff"),
    url("../fonts/web/cuprumitalic.woff") format("woff2");
  font-weight: normal;
  font-style: italic;
}

/* PT Sans */
@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/ptsans.woff") format("woff"),
    url("../fonts/web/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/web/ptsansbold.woff") format("woff"),
    url("../fonts/web/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* MyriadPro */
@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.eot") format("eot"),
    url("../fonts/MyriadPro-Regular.woff") format("woff"),
    url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
